<!DOCTYPE html>
<html ng-app='LunchCheck'>
<head>
   <title>Lunch Checker</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles/bootstrap.min.css">
   <script src="angular.min.js"></script>
  <script src="app.js"></script>
   <style>
     .message { font-size: 1.3em; font-weight: bold; }
   </style>
 </head>
<body>
    <div class="container" ng-controller="LunchCheckController">
       <h1>Lunch Checker</h1>

           <div class="form-group">
             <!--The check has been added which doesn't consider the items which are ",," or ", ,"as an item towards to the count-->
               <input  type="text" ng-model="lunchMenu"
               placeholder="list comma separated dishes you usually have for lunch"
               class="form-control">
           </div>
           <div class="form-group">
               <button class="btn btn-default" ng-click="getNumberOfItems()">Check If Too Much</button>
           </div>
           <div class="form-group message">
            {{message}}
           </div>
     </div>
  </body>
</html>
